.container {
    cursor: pointer;
    padding: 12px 24px;
    height: 68px;
    box-shadow: 0 0 1px rgba(67, 68, 69, 0.3), 0 1px 1px rgba(67, 68, 69, 0.3);
    border-radius: 6px;
    display: grid;
    grid-template-columns: min-content auto max-content;
    grid-template-rows: 1fr 1fr;
    box-sizing: border-box;
    gap: 8px;
    grid-template-areas:
        'i a b'
        'i c d';
}

.container:hover {
    box-shadow: 0 0 1px rgba(67, 68, 69, 0.3), 0 2px 8px rgba(67, 68, 69, 0.3);
}

.status {
    grid-area: i;
}

.header {
    grid-area: a;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
    justify-content: start;
    align-items: start;
}

.date {
    grid-area: b;
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    justify-content: start;
    color: #7f8285;
}

.description {
    grid-area: c;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.time {
    grid-area: d;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: start;
    color: #7f8285;
}

.block {
    display: flex;
    align-items: center;
}

.hash {
    color: #7f8285;
    margin-left: 4px;
}

.icon {
    fill: #7f8285;
    margin-right: 4px;
}

.id {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.done {
    fill: #00b341;
    color: #00b341;
}

.fail {
    fill: #ff3333;
    color: #ff3333;
}

.pending {
    fill: #ff9a00;
    color: #ff9a00;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    .container {
        height: auto;
        padding: 16px 12px;
        grid-template-columns: min-content max-content 1fr;
        grid-template-rows: max-content max-content max-content;
        grid-template-areas:
            'i a a'
            'i c c'
            'i b d';
    }

    .status {
        width: 14px;
        height: 14px;
    }

    .status > span {
        top: -4px;
    }

    .header {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 8px;
    }

    .description {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 8px;
        padding-bottom: 8px;
        border-bottom: 1px solid #f0f2f3;
    }

    .time {
        margin-left: 10px;
    }
}
