.link {
    font-size: 13px;
    font-weight: 400;
    color: #7f8285;
    cursor: pointer;
    text-decoration: none;
    letter-spacing: 0.06px;
    line-height: 16px;
}

.link:hover {
    color: #e00000;
}

.link:focus {
    color: #e00000;
    outline: none;
}

@media only screen and (min-width: 320px) and (max-width: 800px) {
    .link {
        line-height: 18px;
    }
}
